[submodule "etc/vim/bundle/Command-T"]
	path = etc/vim/bundle/Command-T
	url = https://github.com/wincent/command-t.git
[submodule "etc/vim/bundle/vim-fugitive"]
	path = etc/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "etc/vim/bundle/vim-javascript-syntax"]
	path = etc/vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "etc/vim/bundle/vim-tmux-navigator"]
	path = etc/vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "etc/vim/bundle/vim-unimpaired"]
	path = etc/vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
